{% extends 'template.html.twig' %}

{% block body %}

    <div class="row">
        <div class="medium-12 large-12 columns">
            <h4 class="titulo">Reservas</h4>

            <table class="stack">
                <thead>
                    <tr>
                        <th width="100" class="centro">QUARTO</th>
                        <th width="400">HÓSPEDE</th>
                        <th width="200" class="centro">ESTADIA</th>
                        <th width="100" class="centro">AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                        <tr>
                            <td class="centro">{{reserva.quarto.nome}}</td>
                            <td>{{reserva.hospede.titulo | capitalize}}. {{reserva.hospede.nome}}</td>
                            <td class="centro">
                                De <span class="dt_entrada">{{ reserva.dataEntrada | date('d/m/Y')}}</span> até
                                <span class="dt_saida">{{ reserva.dataSaida | date('d/m/Y')}}</span>
                            </td>
                            <td class="centro">
                                <a class="hollow button alert" href="{{ path('reserva.cancelar',
                                    { 'id_reserva' : reserva.id }) }}"
                                   onclick="return confirm('Deseja realmente cancelar a reserva ?')">CANCELAR</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
