{% extends 'template.html.twig' %}

{% block body %}

    <div class="row">
        <div class="medium-12 large-12 columns">
            <h4 class="titulo">Quartos</h4>

            {# Exibe as mensagens de sucesso #}
            {% if app.session.flashBag.has('notice') %}
                <div class="sucesso">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

                    {% set flash_message = app.session.flashBag.get('notice') | first %}
                    {{ flash_message | trans({'%nome%': app.session.flashBag.get('quarto') | first }) }}
                </div>
            {% endif %}

            {# Exibe as mensagens de falha #}
            {% if app.session.flashBag.has('error') %}
                <div class="alerta">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

                    {% set flash_message = app.session.flashBag.get('error') | first %}
                    {{ flash_message | trans({'%nome%': app.session.flashBag.get('quarto') | first }) }}
                </div>
            {% endif %}

            <div class="columns">
                <a class="button" href="{{ path('quarto.novo') }}">
                    ADICIONAR QUARTO
                </a>
            </div>

            <table class="stack">
                <thead>
                    <tr>
                      <th width="100px" class="centro">Nome</th>
                      <th width="80px" class="centro">Andar</th>
                      <th width="320px">Descrição</th>
                      <th width="100px" class="centro">Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for quarto in quartos %}
                    <tr>
                        <td class="centro">{{ quarto.nome }}</td>
                        <td class="centro">{{ quarto.andar }}</td>
                        <td>{{ quarto.descricao }}</td>
                        <td class="centro">
                            <a class="hollow button" href="{{ path('quarto.editar', {'id': quarto.id }) }}">EDITAR</a>
                            <a class="hollow button alert" href="{{ path('quarto.excluir', {'id': quarto.id }) }}"
                               onclick="return confirm('Deseja realmente excluir a quarto ?')">EXCLUIR</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="centro">Nenhum resultado encontrado!</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
