{% extends 'template.html.twig' %}

{% block body %}

    <div class="row">
        <div class="medium-12 large-12 columns">
            <h4 class="titulo">Quartos</h4>

            {% if app.session.flashBag.has('notice') %}
                <div class="sucesso">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

                    {% for flash_message in app.session.flashBag.get('notice') %}
                        {{ flash_message | trans }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="columns">
                <a class="button" href="{{ path('quarto.novo') }}">
                    ADICIONAR QUARTO
                </a>
            </div>

            <table class="stack">
                <thead>
                    <tr>
                      <th width="50px" class="centro">Nome</th>
                      <th width="50px" class="centro">Andar</th>
                      <th width="450px">Descrição</th>
                      <th width="50px" class="centro">Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for quarto in quartos %}
                    <tr>
                        <td class="centro">{{ quarto.nome }}</td>
                        <td class="centro">{{ quarto.andar }}</td>
                        <td>{{ quarto.descricao }}</td>
                        <td class="centro">
                            <a class="hollow button" href="">EDITAR</a>
                            <a class="hollow button alert" href=""
                               onclick="return confirm('Deseja realmente excluir a quarto ?')">EXCLUIR</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
