{% extends 'template.html.twig' %}

{% block body %}

    <div class="row">
        <div class="medium-12 large-12 columns">
            <h4 class="titulo">Hóspedes</h4>
            <div class="columns">
                <a class="button" href="{{ path('hospede.novo') }}">
                    ADICIONAR HÓSPEDE
                </a>
            </div>

            <table class="stack">
                <thead>
                    <tr>
                      <th width="300px">Nome</th>
                      <th width="200px">Email</th>
                      <th width="100px" class="centro">Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for hospede in hospedes %}
                    <tr>
                        <td>{{ hospede.titulo | capitalize }}. {{ hospede.nome }}</td>
                        <td>{{ hospede.email }}</td>
                        <td class="centro">
                            <a class="hollow button" href="{{ path('hospede.editar', {'id': hospede.id} ) }}">EDITAR</a>
                            <a class="hollow button warning"
                                href="{{ path('reserva.reservar', {'id_hospede': hospede.id}) }}">RESERVAR QUARTO</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
